/* ==========================================================================
  Custom styles
   ========================================================================== */

body {
	padding-top: 120px;
	padding-bottom: 20px;
	background-color: #e5e5e5;
	font-family: 'Lato', sans-serif;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
}

.navbar-header {
	height: 80px;
}

.social-media-container-outer {
	background-color: white;
	width: 100%;
	
}

.social-media-container-inner {
	background-color: white;
	
}

#social-media-nav {
	background-color: white;
	height: 40px;
	margin-top: -5px;
	margin-bottom: -20px;
}

#social-media-text {
	text-transform: uppercase;
	font-size: 12px;
	color: #de53f3;
	padding-right: 20px;
}

.login-form {
	margin-bottom: 7px;
}

.login-button {
	background-color: #de53f3;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	height: 45px;
	width: 100px;
	padding-top: 5px;
	padding-left: 10px;
	margin-left: 10px;
	margin-top: -5px;
	margin-bottom: -15px;
	border: none;
}

.form-control {
	background-color: #e5e5e5;
	font-size: 12px;
	margin-left: 40px;
	font-family: FontAwesome;
	border-radius: 50px;
	height: 25px;
}

i.fa-social-media {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

i.fa-login {
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

i.dots {
	color: #de53f3;
	font-size: 30px;
}

i.hamburger {
	font-size: 32px;
}

.navbar-nav {
	float: right;
}

.nav-item {
	margin-top: 10px;
	padding: 20px;
	padding-left: 35px;
	padding-right: 35px;
}

.nav-link {
	text-transform: uppercase;
}

.white-text {
	color: white;
}

.brand-container {
	height: 80px;
	background-color: #3a3a3a;
	color: white;
	position: absolute;
	top: 25px;
	padding: 20px;
}

.navbar-brand {
	margin-top: -5px;
}

#first-brand {
	font-size: 40px;
	color: white;
	text-transform: uppercase;
}

#second-brand {
	font-size: 20px;
	padding-left: 5px;
	color: white;
	text-transform: uppercase;
	font-style: italic;
}

hr {
	display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid black;
    margin: 2em 0;
    padding: 0; 
}

img {
	max-width:100%;
    max-height:100%;
}

.date-info {
	background-color: black;
	color: white;
	margin-top: -10px;
}

.date-info h4 {
	color: #de53f3;
	padding: 15px;
	text-transform: uppercase;
}

.concert-info {
	height: 100px;
	background-color: white;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 50px;
}

.concert-info h2 {
    color: #de53f3;
    padding-top: 15px;
    text-transform: uppercase;
}

.concert-info h4 {
    font-style: italic;
}

.newsletter-background {
  background: url(../img/newsletter-background.png) no-repeat center center; 
  max-width:100%;
  height:400px;
}

.newsletter-inner {
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.8);
	height: 200px;
	width: 100%;
	padding-top: 20px;
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
}

.newsletter-heading {
	text-transform: uppercase;
}

.newsletter-text {
	color: #de53f3;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 15px;
	padding-bottom: 10px;
}

.btn-lg {
	background: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-size: 12px;
	width: 200px;
	border-color: white;
}

.white-background {
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.widget-heading {
	text-transform: uppercase;
}

.widget-subheading {
	color: #de53f3;
	text-transform: none;
	font-style: italic;
	padding-left: 10px;
	font-size: 15px;
}

.widget-header {
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
}

.address-heading {
	text-transform: uppercase;
}

.address-subheading {
	padding-left: 20px;
	font-size: 15px;
	text-transform: none;
}

.social-header {
	background-color: black;
	color: white;
	padding: 10px;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
}

.current-social {
	background-color: #de53f3;
}

.social-text {
	padding-right: 15px;
}

.twitter-widget-tweets {
	margin-top: 90px;
	padding: 10px;
	background-color: #e5e5e5;
	height: 428px;
	margin-bottom: 50px;
}

.recent-tweets {
	background-color: white;
	margin: 5px;
	overflow-wrap: break-word
}

blockquote {
    border-left: none;
}

.fa-pink {
	color: #de53f3;
}

.float-right {
	float: right;
	padding-right: 10px;
}

.span-float-right {
	float: right;
}

.buy-tickets {
	display: none;
}


@media (max-width:767px){

	body {
		overflow-x: hidden;
	}

	img {
		width: 200px;
		padding: 10px;
	}

	.event-div {
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	}

	.event-container {
	margin: 15px;
	}

	.tickets-div {
	margin-top: -20px;
	max-width:100%;
	height: 50px;
    background-color: #de53f3;
	}

	.buy-tickets {
	display: inherit;
	text-align: center;
	color: white;
	padding: 10px;
	text-transform: uppercase;

	}

	.concert-info {
 	display: none;
	}


	.small-div {
	display: inline-block;
	}

	.small-div h2 {
	color: #de53f3;
	text-transform: uppercase;
	}

	.small-div h4 {
	font-style: italic;
	}



} 

@media (min-width:768px){


	.small-div {
	display: none;
	}

} 



