/* ==========================================================================
  Custom styles
   ========================================================================== */

body {
	padding-top: 120px;
	padding-bottom: 20px;
	background-color: #e5e5e5;
	font-family: 'Lato', sans-serif;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
}

a {
	color: #de53f3;
}

.navbar-header {
	height: 80px;
}

.social-media-container-outer {
	background-color: white;
	width: 100%;
	
}

.social-media-container-inner {
	background-color: white;
	
}

#social-media-nav {
	background-color: white;
	height: 40px;
	margin-top: -5px;
	margin-bottom: -20px;
}

#social-media-text {
	text-transform: uppercase;
	font-size: 12px;
	color: #de53f3;
	padding-right: 20px;
}

.login-form {
	margin-bottom: 7px;
}

.login-button {
	background-color: #de53f3;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	height: 45px;
	width: 100px;
	padding-top: 5px;
	padding-left: 10px;
	margin-left: 10px;
	margin-top: -5px;
	margin-bottom: -15px;
	border: none;
}

.form-control {
	background-color: #e5e5e5;
	font-size: 12px;
	margin-left: 40px;
	font-family: FontAwesome;
	border-radius: 50px;
	height: 25px;
}

i.fa-social-media {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

i.fa-login {
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

i.dots {
	color: #de53f3;
	font-size: 30px;
}

i.hamburger {
	font-size: 32px;
}

.navbar-nav {
	float: right;
}

.nav-item {
	margin-top: 10px;
	padding: 20px;
	padding-left: 35px;
	padding-right: 35px;
}

.nav-link {
	text-transform: uppercase;
}

.white-text {
	color: white;
}

.brand-container {
	height: 80px;
	color: white;
	position: absolute;
	top: 25px;
	padding: 20px;
	background-color: #3a3a3a;
    background-image: -webkit-linear-gradient(30deg, #2e2e2e 50%, #3a3a3a 50%);
}

.navbar-brand {
	margin-top: -5px;
}

#first-brand {
	font-size: 40px;
	color: white;
	text-transform: uppercase;
}

#second-brand {
	font-size: 20px;
	padding-left: 5px;
	color: white;
	text-transform: uppercase;
	font-style: italic;
}

hr {
	display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid black;
    margin: 2em 0;
    padding: 0; 
}

img {
	max-width:100%;
    max-height:100%;
}

.date-info {
	background-color: black;
	color: white;
	margin-top: -10px;
}

.date-info h4 {
	color: #de53f3;
	padding: 15px;
	text-transform: uppercase;
}

.concert-info {
	height: 100px;
	background-color: white;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 50px;
}

.concert-info h2 {
    color: #de53f3;
    padding-top: 15px;
    text-transform: uppercase;
}

.concert-info h4 {
    font-style: italic;
    font-family: 'Merriweather', serif;
}

.newsletter-background {
  background: url(../img/newsletter-background.png) no-repeat center center; 
  max-width:100%;
  height:400px;
}

.newsletter-inner {
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.8);
	height: 200px;
	width: 100%;
	padding-top: 20px;
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
}

.newsletter-heading {
	text-transform: uppercase;
}

.newsletter-text {
	color: #de53f3;
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 15px;
	padding-bottom: 10px;
}

.btn-lg {
	background: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-size: 12px;
	width: 200px;
	border-color: white;
}

.white-background {
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.widget-heading {
	text-transform: uppercase;
}

.widget-subheading {
	color: #de53f3;
	text-transform: none;
	font-style: italic;
	padding-left: 10px;
	font-size: 15px;
}

.widget-header {
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
}

.address-heading {
	text-transform: uppercase;
}

.address-subheading {
	padding-left: 20px;
	font-size: 15px;
	text-transform: none;
}

.social-header {
	background-color: black;
	color: white;
	padding: 10px;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
}

.current-social {
	background-color: #de53f3;
    background-image: -webkit-linear-gradient(75deg, #df53f4 50%, #d345e9 50%);
}

.social-text {
	margin-left: -20px;
}

.twitter-widget-tweets {
	margin-top: 90px;
	padding: 10px;
	background-color: #e5e5e5;
    height: 430px;
	margin-bottom: 50px;
}

.recent-tweets {
	background-color: white;
	overflow-wrap: break-word;
	border-style: solid;
    border-width: 5px;
	border-color: #e5e5e5;
	font-family: 'Lato', sans-serif;
}

.tweet-info {
	background-color: #d345e9;
	margin-left: -35px;
	margin-right: -35px;
	margin-bottom: -30px;
	padding: 5px;
	font-family: 'Oswald', sans-serif;
}

.tweet-info a {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}

.tweet-icons {
	float: right;
	color: white;
}

.tweet-icons i {
	padding-left: 5px;
}

blockquote {
    border-left: none;
}

.fa-pink {
	color: #de53f3;
}

.float-right {
	float: right;
	padding-right: 10px;
}

.span-float-right {
	float: right;
	margin-top: -45px;
	margin-right: 15px;
	padding-left: 45px;
	padding-right: 15px;
	height: 50px;
	line-height: 55px;
	background-color: #2e2e2e;
	position: absolute;
	right: 0;
	-webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 31% 100%);
	clip-path: polygon(14% 0, 100% 0, 100% 100%, 31% 100%);
}


.buy-tickets {
	display: none;
}

.youtube {
	float: right;
}

.event-div {
    position: relative;
}

@media (max-width:1200px){
	.youtube iframe {
	width: 400px;
	}

	.tweet-info a {
	font-size: 14px;
	}

	.tweet-info i {
	font-size: 14px;
	}

	.recent-tweets {
	border-width: 3px;
	margin-bottom: 15px;
	}

}

@media (max-width:990px){
	.youtube iframe {
	width: 100%;
	}

	.twitter-tweet {
	font-size: 16px;
	}

	.twitter-widget-tweets {
	height: 450px;
	}

	.social-text {
	margin-left: 0px;
	}

	.social-text i {
	display: none;

	}


@media (max-width:767px){

	body {
		overflow-x: hidden;
		padding-top: 60px;
		padding-bottom: 10px;
	}

	img {
		max-width:50%;
    	max-height:50%;
		padding: 10px;
	}

	.event-div {
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	}

	.event-container {
	margin: 15px;
	}

	.tickets-div {
	margin-top: -20px;
	max-width:100%;
	height: 50px;
    background-color: #de53f3;
	}

	.buy-tickets {
	display: inherit;
	text-align: center;
	color: white;
	padding: 10px;
	text-transform: uppercase;

	}

	.concert-info {
 	display: none;
	}


	.small-div {
	display: inline-block;
	max-width:50%;
	max-height:50%;
    word-wrap: break-word;
	}

	.small-div h2 {
	color: #de53f3;
	text-transform: uppercase;
	}

	.small-div h4 {
	font-style: italic;
	font-family: 'Merriweather', serif;
	}

	i.dots {
	display: none;
	}

	i.hamburger {
	display: none;
	}

	button {
	display: none;
	}

	.brand-container {
	top: 0;
	}

	hr {
	display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid black;
    margin: 0;
    padding: 0; 
	}

	.upcoming-events {
	text-align: center;
	}

	.twitter-widget-tweets {
    max-height:100%;
	}

	.hidden-social-text {
	display: none;
	}

	.youtube {
	display: none;
	}

	.twitter-widget-tweets {
	height: 100%;
	}

	.social-text i {
	display: inherit;
	}


}
	

} 

@media (min-width:768px){


	.small-div {
	display: none;
	}

} 

@media (max-width:400px){
	.small-div {
	margin-top: -10px;
	}

	.get-directions {
	margin-top: 200px;
	}

}

